<section class="todoapp todo-theme-default">
  <header class="header">
    <h1>todos</h1>
    <form (ngSubmit)="addTodo()">
      <input class="new-todo" placeholder="What needs to be done ?" #newTodo autofocus>
      <app-speech-recognition (activateSpeech)="activateSpeech($event)" [iconRecord]="iconRecord"></app-speech-recognition>
    </form>
  </header>
  <section class="main">
    <input [disabled]="(getTodos()| async).length === 0" title="Mark all as complete" class="toggle-all" type="checkbox" (ngModelChange)="toggleAllChange()" [ngModel]="toggleAll()|async">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <li *ngFor="let todo of getTodos() | async" [class.completed]="todo.isCompleted === true" [class.editing]="itemTodo.editing">
        <app-todo [todo]="todo" #itemTodo></app-todo>
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"><strong>{{ getCountTodo()|async }}</strong> <span>{{ (getCountTodo()|async) > 1  ? 'items' : 'item' }}</span> left</span>
    <ul class="filters">
      <li>
        <a [class.selected]="currentFilter === filterAll" (click)="currentFilter = filterAll" class="filterAll">All</a>
      </li>
      <li>
        <a [class.selected]="currentFilter === filterActives" (click)="currentFilter = filterActives" class="filterActives">Active</a>
      </li>
      <li>
        <a [class.selected]="currentFilter === filterCompleted" (click)="currentFilter = filterCompleted" class="filterCompleted">Completed</a>
      </li>
    </ul>
    <button class="clear-completed" *ngIf="(getCountCompleted()|async) > 0" (click)="disposeAll()">Clear Completed</button>
  </footer>
</section>
