<section class="todoapp">
  <header class="header">
    <h1>{{title}}</h1>
    <form (ngSubmit)="addTodo()">
      <input class="new-todo" placeholder="Que faire?" #newTodo autofocus>
    </form>
  </header>
  <section class="main">
    <input class="toggle-all" type="checkbox" (ngModelChange)="toggleAllChange()" [ngModel]="toggleAll()|async">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <li *ngFor="let todo of todos | async" [class.completed]="todo.isCompleted" [class.editing]="itemchose.editing">
        <app-todo [todo]="todo" #itemchose></app-todo>
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count">{{ getCountTodo()|async }}<strong></strong> restantes</span>
    <ul class="filters">
      <li>
        <a [class.selected]="currentFilter === filterAll" (click)="currentFilter = filterAll" class="filterAll">Tous</a>
      </li>
      <li>
        <a [class.selected]="currentFilter === filterActives" (click)="currentFilter = filterActives" class="filterActives">Actifs</a>
      </li>
      <li>
        <a [class.selected]="currentFilter === filterCompleted" (click)="currentFilter = filterCompleted" class="filterCompleted">Complétés</a>
      </li>
    </ul>
    <button class="clear-completed" *ngIf="(getCountCompleted()|async) > 0" (click)="disposeAll()">Supprimer cochées</button>
  </footer>
</section>
